@using PagedList.Mvc;
@model PagedList.IPagedList<SizananiBentham.Models.ArticleViewModel>
@{
    ViewBag.Title = "News and Publications";
}

@section header_content
{
    <!-- Page Heading Starts -->
    <div class="container">
        <h1 class="page-heading text-xs-center text-sm-center text-md-left">News and Publications</h1>
    </div>
    <!-- Page Heading Ends -->
}


<!-- Breadcrumb Starts -->
<div class="container">
    <ol class="breadcrumb justify-content-center justify-content-md-start">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item active">News and Publications</li>
    </ol>
</div>
<!-- Breadcrumb Ends -->
<!-- Main Container Starts -->
<div class="main-container alt container">
    <!-- Nested Row Starts -->
    <div class="row">
        <!-- Mainarea Starts -->
        <div class="col-md-8 col-sm-12">
            <!-- Blog Post #1 Starts -->
            @foreach (var article in Model)
            {
            <article class="blog-post">
                <!-- Blog Media Starts -->
                <div class="blog-media">
                    <img src="@article.ImageFilePath" alt="@article.Title" class="img-fluid">
                </div>
                <!-- Blog Media Ends -->
                <!-- Blog Title Starts -->
                <h4 class="blog-title">
                    @Html.ActionLink(article.Title, "Article", new { id = article.Id })
                </h4>
                <!-- Blog Title Ends -->
                <!-- Blog Post Info Starts -->
                <ul class="blog-post-info list-unstyled list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-user"></i>
                        <a href="#">By @article.Author</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i>
                        Posted on @article.PublishMonth @article.PublishDay, @article.PublishYear
                    </li>
                </ul>
                <!-- Blog Post Info Ends -->
                <!-- Blog Post Content Starts -->
                <div class="blog-post-content">
                    <div class="block-with-text">
                        @Html.Raw(article.Body)                    
                    </div>
                    <p class="text-md-right read-more">
                        <a href="@Url.Action("Article","News",  new { id = article.Id })" class="btn btn-main flat animation">Read More...</a>
                    </p>
                </div>
                <!-- Blog Post Content Ends -->
            </article>
            }
            <!-- Blog Post #1 Ends -->

            <!-- Pagination Starts -->
            @Html.PagedListPager(Model, page => Url.Action("Articles", "News", new { page }),
                                    new PagedListRenderOptions(){
                                        ContainerDivClasses = new List<string> { "text-xs-center", "text-sm-center", "text-md-right", "clearfix" },
                                        UlElementClasses = new List<string> { "pagination","animation","flat","float-md-right" },
                                        LiElementClasses = new List<string> { "page-item" }    
                                    }
            )
            @*<ul class="pagination animation flat float-md-right">
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>*@
            <!-- Pagination Ends -->

        </div>
        <!-- Mainarea Ends -->
        <!-- Spacer For Mobile Starts -->
        <div class="w-100 d-xs-block d-sm-block d-md-none">
            <div class="spacer-extra-large"></div>
        </div>
        <!-- Spacer For Mobile Ends -->
        <!-- Sidearea Starts -->
        @*<div class="col-md-4 col-sm-12">
            <!-- Search Starts -->
            <div class="search-box-1">
                <div class="input-group">
                    <input type="text" class="form-control flat" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn flat" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Search Ends -->
            <!-- Spacer Starts -->
            <div class="spacer-extra-small"></div>
            <!-- Spacer Ends -->
            <!-- Categories Starts -->
            <h4 class="side-heading-2 text-brand-color">Categories</h4>
            <ul class="list-unstyled side-list-1">
                <li><a href="#">Heart</a></li>
                <li><a href="#">Cardiology</a></li>
                <li><a href="#">Patient</a></li>
                <li><a href="#">Dental</a></li>
                <li><a href="#">Leaser</a></li>
            </ul>
            <!-- Categories Ends -->
            <!-- Spacer Starts -->
            <div class="spacer-extra-small"></div>
            <!-- Spacer Ends -->
            <!-- Popular Posts Starts -->
            <h4 class="side-heading-2 text-brand-color">Popular Posts</h4>
            <ul class="list-unstyled list-post-1">
                <li class="clearfix">
                    <img src="images/misc/blog-thumb-img1.jpg" alt="Image" class="img-fluid pull-left">
                    <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets.</a></p>
                    <span class="text-brand-color">17 Dec, 2017</span>
                </li>
                <li class="clearfix">
                    <img src="images/misc/blog-thumb-img2.jpg" alt="Image" class="img-fluid pull-left">
                    <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets.</a></p>
                    <span class="text-brand-color">17 Dec, 2017</span>
                </li>
                <li class="clearfix">
                    <img src="images/misc/blog-thumb-img3.jpg" alt="Image" class="img-fluid pull-left">
                    <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets.</a></p>
                    <span class="text-brand-color">17 Dec, 2017</span>
                </li>
                <li class="clearfix">
                    <img src="images/misc/blog-thumb-img4.jpg" alt="Image" class="img-fluid pull-left">
                    <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets.</a></p>
                    <span class="text-brand-color">17 Dec, 2017</span>
                </li>
            </ul>
            <!-- Popular Posts Ends -->
            <!-- Spacer Starts -->
            <div class="spacer-extra-small"></div>
            <!-- Spacer Ends -->
            <!-- Archive Starts -->
            <h4 class="side-heading-2 text-brand-color">Archive</h4>
            <ul class="list-unstyled side-list-1">
                <li><a href="#">March 2018</a></li>
                <li><a href="#">February 2018</a></li>
                <li><a href="#">January 2018</a></li>
                <li><a href="#">December 2017</a></li>
                <li><a href="#">November 2017</a></li>
            </ul>
            <!-- Archive Ends -->
            <!-- Spacer Starts -->
            <div class="spacer-extra-small"></div>
            <!-- Spacer Ends -->
            <!-- Keywords Starts -->
            <h4 class="side-heading-2 text-brand-color">Keywords</h4>
            <ul class="list-unstyled list-inline list-tag-1">
                <li class="list-inline-item"><a href="#">Heart</a></li>
                <li class="list-inline-item"><a href="#">Oral</a></li>
                <li class="list-inline-item"><a href="#">Dental</a></li>
                <li class="list-inline-item"><a href="#">Leaser</a></li>
                <li class="list-inline-item"><a href="#">Cardiology</a></li>
            </ul>
            <!-- Keywords Ends -->
        </div>*@
        <!-- Sidearea Ends -->
    </div>
    <!-- Nested Row Ends -->
</div>
<!-- Main Container Ends -->

@section scripts
{
    <script type="text/javascript">
        // Change active nav link
        $(document).ready(function () {
            $('#news-nav-item').addClass('active');
        });
    </script>
}